 <h1>This is my contact information!</h1>

<p> My name is <%= contacts.name%></p>
<p> My email is <%= contacts.email%></p>
<p> My phone is <%= contacts.phone%></p>
<p> My fax is <%= contacts.fax%></p>
<p> My site is <%= contacts.site%></p>